<!DOCTYPE html>
<html data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ url_for('static', path='/pico.violet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/admin.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/inputmask.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', path='/admin.js') }}" defer></script>
    <title>VotX</title>
</head>

<body>
    <header class="mainheader">
        <nav class="container-fluid">
            <ul>
                <li><img class="mainheading" src="{{ url_for('static', path='/logo.svg') }}"></li>
                <li>Admin</li>
            </ul>
            <ul>
                <li>{{ user_name }}</li>
                <li><a href="./logout/">Logout</a></li>
            </ul>
            <ul>
                <li>
                    <label>
                        <input id="dangerModeSwitch" type="checkbox" role="switch" aria-invalid="true"
                            onclick="changeDangerMode(this)" {% if danger_mode %} checked {% endif %} />
                        Gefahren Modus
                    </label>
                </li>
            </ul>
        </nav>
    </header>
    <main id="voteList" class="container">
        <article>
            <header class="spreadHeader">
                <div>Regie</div>
                <div><a href="/beamer" target="_blank" rel="noopener noreferrer" >Beameransicht öffnen</a></div>
            </header>
            <div class="grid">
                <button onclick="textToBeamer()">Text</button>
                <button {% if selected_ballot %} onclick="focusBallot({{ selected_ballot.id }})" {% else %} disabled {%
                    endif %}>Fokus</button>
                <button {% if (not selected_ballot) or selected_ballot.active %} disabled {% else %}
                    onclick="showBallotResult({{ selected_ballot.id }})" {% endif %}>Ergebnis</button>
            </div>
            <label>
                Anzuzeigender Text
                <input type="text" name="beamer_text" id="beamer_text" placeholder="VotX" value="VotX">
            </label>
        </article>

        <article>
            <header>Wahlen</header>
            <div class="gridContainer">
                <div class="Selector">
                    {% for ballot in ballots %}
                    <a href="?ballot={{ ballot.id }}" role="button"
                        class="{% if ballot != selected_ballot %}outline{% endif %} {% if not ballot.active %}secondary {% endif %}">{{
                        ballot.title
                        }}</a><br>
                    {% endfor %}
                    <hr>
                    <button type="button" class="" onclick="createBallot()">Hinzufügen</button><br>
                </div>
                {% if selected_ballot %}
                <div class="SelectionConfiguration">
                    <div class="grid">
                        {% if selected_ballot.active %}
                        <button type="button" class="outline"
                            onclick="getBallotProtocol({{ selected_ballot.id }})" disabled>Wahlprotokoll</button>
                        <button type="button" class="outline"
                            onclick="deactivateBallot({{ selected_ballot.id }})">Deaktivieren</button>
                        {% else %}
                        <button type="button" class="outline"
                            onclick="getBallotProtocol({{ selected_ballot.id }})">Wahlprotokoll</button>
                        <button type="button" class="outline"
                            onclick="activateBallot({{ selected_ballot.id }})">Aktivieren</button>
                        {% endif %}
                    </div>
                    {% if not selected_ballot.active %}
                    <hr>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Antwort</th>
                                <th scope="col">Stimmen</th>
                            </tr>
                        </thead>
                        {% for voteOption in selected_ballot.voteOptions%}
                        <tr>
                            <td>{{voteOption.title}}</td>
                            <td>{{voteOption.votes|length}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                    <hr>
                    {% if not selected_ballot.active and selected_ballot.votes|length %}
                    <blockquote>
                        Die gewünschte Wahl kann nicht mehr bearbeitet werden, da bereits Stimmen für diese abgegeben
                        wurden.
                    </blockquote>
                    {% elif selected_ballot.active %}
                    <blockquote>
                        Die gewünschte Wahl kann nicht bearbeitet werden, da sie derzeit aktiv ist.
                    </blockquote>
                    {% endif %}
                    <form id="ballot_edit_form">
                        <input type="hidden" name="ballot_id" value="{{selected_ballot.id}}" />
                        <label>
                            Titel
                            <input type="text" name="ballot_title" placeholder="Titel" aria-label="Text"
                                value="{{ selected_ballot.title }}" {% if selected_ballot.active or
                                selected_ballot.votes|length %} disabled {% endif %}>
                        </label>
                        <label id="vote_option_list">
                            Antworten
                            <template id="voteOptionTemplate">
                                <input type="text" name="ballot_vote_option" placeholder="Antwort" aria-label="Text"
                                    value="">
                            </template>
                            {% for voteOption in selected_ballot.voteOptions %}
                            <input type="text" name="ballot_vote_option" placeholder="Antwort" aria-label="Text"
                                value="{{voteOption.title}}" {% if selected_ballot.active or
                                selected_ballot.votes|length %} disabled {% endif %}>
                            {% endfor %}
                        </label>
                        <fieldset class="grid">
                            <button type="button" class="outline secondary" onclick="removeVoteOption()" {% if
                                selected_ballot.active or selected_ballot.votes|length %} disabled {% endif %}>Antwort
                                entfernen</button>
                            <button type="button" class="outline secondary" onclick="addVoteOption()" {% if
                                selected_ballot.active or selected_ballot.votes|length %} disabled {% endif %}>Antwort
                                hinzufügen</button>
                        </fieldset>

                        <fieldset class="grid">
                            <label>
                                Minimum Votes
                                <input type="number" name="ballot_min_votes" value="{{ selected_ballot.minimum_votes }}"
                                    aria-label="Number" min="1" {% if selected_ballot.active or
                                    selected_ballot.votes|length %} disabled {% endif %}>
                            </label>
                            <label>
                                Maximum Votes
                                <input type="number" name="ballot_max_votes" value="{{ selected_ballot.maximum_votes }}"
                                    aria-label="Number" min="1" {% if selected_ballot.active or
                                    selected_ballot.votes|length %} disabled {% endif %}>
                            </label>
                            <label>
                                Stimmhäufung
                                <select name="ballot_vote_stacking" aria-label="Select your favorite cuisine..."
                                    required {% if selected_ballot.active or selected_ballot.votes|length %} disabled {%
                                    endif %} disabled>
                                    <option value="true" {% if selected_ballot.vote_stacking %} selected {% endif %}>Ja
                                    </option>
                                    <option value="false" {% if (selected_ballot.vote_stacking==False) %} selected {%
                                        endif %}>Nein</option>
                                </select>
                            </label>
                        </fieldset>
                        <fieldset>
                            <legend>Berechtigte Wahlgruppen</legend>
                            {% for vote_group in vote_groups %}
                            <label class="cbLabel">
                                <input type="checkbox" name="vote_group_checkbox" value="{{vote_group.id}}" {% if
                                    selected_ballot.active or selected_ballot.votes|length %} disabled {% endif %} {% if
                                    vote_group.is_selected %} checked {% endif %}>
                                {{ vote_group.title }}
                            </label>
                            {% endfor %}
                        </fieldset>
                        <fieldset class="grid">
                            <button type="button" class="" onclick="updateBallot()" {% if selected_ballot.active or
                                selected_ballot.votes|length %} disabled {% endif %}>Speichern</button>
                        </fieldset>
                    </form>
                </div>
                {% endif %}
            </div>
        </article>
        <article>
            <header>Wahlgruppen</header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Bezeichnung</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for vote_group in vote_groups %}
                    <tr scope="row">
                        <td>{{vote_group.id}}</td>
                        <td>{{vote_group.title}}</td>
                        <td><button class="outline" onclick="deleteVoteGroup({{vote_group.id}})" {% if not danger_mode
                                %}disabled{%endif%}>Löschen</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Neue Wahlgruppe erzeugen</h3>
            <form>
                <label>
                    Bezeichnung
                    <input type="text" id="newVoteGroupTitleInput">
                </label>
                <button type="button" class="" onclick="createNewVoteGroup()">Erzeugen</button>
            </form>
        </article>
        <article>
            <header>Wahlschein Zurücksetzen</header>
            <form>
                <label>
                    Wahlcode
                    <input id="resetTokenInput" placeholder="XXXXX - XXXXX - XXXXX" data-slots="X"
                        style="text-align:center; font-family: monospace;" inputmode="numeric" />
                </label>
                <button type="button" class="" onclick="resetRegistrationTokens()">Zurücksetzen</button>
            </form>
        </article>
        <article>
            <header>Wahlscheine Erzeugen</header>
            <form>
                <label>
                    Anzahl Wahlscheine
                    <input type="text" value="{{ access_code_count }}" readonly>
                </label>
                <label>
                    Zusätzlich generieren
                    <input type="number" id="accessCodeAddCount" value="1">
                </label>
                <fieldset>
                    <legend>Wahlgruppen</legend>
                    {% for vote_group in vote_groups %}
                    <label class="cbLabel">
                        <input type="checkbox" name="access_code_group_checkbox" value="{{vote_group.id}}" />
                        {{ vote_group.title }}
                    </label>
                    {% endfor %}
                </fieldset>
                <fieldset class="grid">
                    <button type="button" class="outline secondary" onclick="getTokenPDF()">Wahlscheine als PDF</button>
                    <button type="button" class="" onclick="generateRegistrationTokens()">Generieren</button>
                </fieldset>
            </form>
        </article>
    </main>
    <footer class="container">
            <a href="/impressum">Impressum</a>
            <a href="/datenschutz">Datenschutzerklärung</a>
    </footer>
</body>

</html>