<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ url_for('static', path='/pico.violet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/beamer.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/beamer.js') }}" defer></script>
    <title>Votix</title>
</head>

<body>
    <main id="mainContainer" class="container">
        <div class="gridContainer grid-hidecolumns">
            <div class="gridItem gridItem1">
                <div>
                    <div id="votxLogo">
                        <img src="{{ url_for('static', path='/logo.svg') }}">
                        <h5>{{ displayURL }}</h5>
                    </div>
                    <h1 id="voteTitle" hidden>VotX</h1>
                    <p id="voteCountElement" hidden><span id="voteCount">0</span> Stimmen abgegeben...</p>
                </div>
                <div class="voteOptions" id="voteOptionsElement" hidden>
                    <ul id="voteOptions">
                    </ul>
                </div>
            </div>
            <div class="gridItem gridItem2">
                <ul class="barchart" id="voteOptionsGraph">
                </ul>
            </div>
        </div>
    </main>
</body>

</html>