<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ url_for('static', path='/pico.violet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/custom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/inputmask.js') }}" defer></script>
    <title>Votix</title>
</head>

<body>
    <header class="mainheader">
        <nav class="container-fluid">
            <ul>
                <img class="mainheading" src="{{ url_for('static', path='/logo.svg') }}">
            </ul>
        </nav>
    </header>
    <main class="container">

        <form action="{{ url_for('register_voter') }}" method="post">
            <article>
                <header>Registrierungstoken Eingeben</header>
                {% if alert_message %}
                    <article class="alert">🛈 {{alert_message}}</article>
                {% endif %}
                <input name="registration_token" placeholder="XXXXX - XXXXX - XXXXX" data-slots="X"
                    style="text-align:center; font-family: monospace;" inputmode="numeric" />
                <p>Durch ausführen der Anmeldung wird das Registrierungstoken ungültig. Die Teilnahme an der Wahl
                    ist anschließend nur in diesem Browser möglich!</p>

                <input type="submit" value="Anmelden" />
            </article>

        </form>
    </main>
    <footer class="container">
            <a href="/impressum">Impressum</a>
            <a href="/datenschutz">Datenschutzerklärung</a>
    </footer>
</body>

</html>