.gridContainer {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 30px; 
    grid-template-areas: 
      "Selector SelectionConfiguration"
  }

.Selector { 
    grid-area: Selector;
}

.SelectionConfiguration {
    grid-area: SelectionConfiguration;
}

.Selector a,button {
    margin-bottom: .5em;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-left: 10px;
        margin-right: 10px;
        font-size: .75em;
        color: var(--pico-muted-color);
        text-decoration-color: var(--pico-muted-color);
    }
    
    a:hover {
        color: var(--pico-primary);
        text-decoration-color: var(--pico-primary);
    }
}