.container {
    opacity: 1;
}

.notransition {
    transition: none !important;
}

.gridContainer {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    position: fixed;
    inset: 0em;
    transition: grid-template-columns 2s ease-in-out 500ms;

    .gridItem {
        display: inline-grid;
    }

    .gridItem1 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1,
        p {
            margin: 0;
            line-height: 1;
        }
        
        div {
            margin-bottom: 2em;
            margin-top: 2em;
        }
        
        .voteOptions {
            transition: opacity 500ms ease-in-out 0s, transform 2s ease-in-out 500ms, margin 2s ease-in-out 500ms;
            opacity: 0;
            margin-bottom: -8em;
            transform: scaleY(0);
            overflow: hidden;
        }        
    }

    .gridItem2,
    .gridItem3 {
        overflow: hidden;
        transition: opacity 500ms 2s;
        align-items: center;
    }


}

.grid-hidecolumns {
    grid-template-columns: 100% 0%;
    transition: grid-template-columns 2s ease-in-out 0ms;
    
    .gridItem1 .voteOptions {
            transition: opacity 500ms ease-in-out 2s, transform 2s ease-in-out 0s, margin 2s ease-in-out 0s;
            opacity: 1;
            transform: scaleY(1);
            margin-bottom: 2em;
            margin-top: 2em;
        }        
    
    
    .gridItem2,
    .gridItem3 {
        transition: opacity 500ms;
        opacity: 0;
    }
}

.barchart {
    border-left: solid 1px;
    display: grid;
    grid-template-columns: auto;
    gap: .5em 0;
    align-items: center;
    margin-left: 0;
    margin-right: 4em;
    padding: 1em;
    list-style-type: none;
    grid-auto-columns: 1fr;
    
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25em 0.5em;
    }
    
    li.name {
        grid-column-start: 1;
        grid-column-end: 1;
        padding-right: 1em;
    }
    
    li.value {
        background: var(--pico-primary-focus);
        
        grid-column-start: 2;
        border-radius: 3px 30px 30px 3px;
        
        span {
            font-weight: bold;
            margin-left: auto;
            margin-right: 0;
        }
    }
}

main {
    transition: opacity ease-in-out 1s;
}